Repository mattisonchao/iot-pulsar, pull requests merged in 2023-01, with the labels that each got.

#5 Fix test not support windows
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/env/IotPulsarBase.java
Labels: scope/test

#6 Support cluster level client identifier validation
  .github/workflows/ci-check-iot-pulsar.yml
  build.gradle
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarClientAgentImpl.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/metadata/Metadata.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/metadata/SystemTopicMetadata.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/pool/ThreadPools.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/pool/package-info.java
  iot-pulsar-mqtt/build.gradle
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/MqttInboundHandler.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/MqttEndpoint.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/MqttEndpointImpl.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/Identifier.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/metadata/MqttMetadataDelegator.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/ConnectProcessor.java
  iot-pulsar-mqtt/src/main/proto/MqttMetadataEvent.proto
  iot-pulsar-test/build.gradle
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/env/mock/MockedPulsarService.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/FeatureTest.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/mqtt, scope/agent

#7 Support basic authentication
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarClientAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarClientAgentImpl.java
  iot-pulsar-common/src/main/java/io/iot/pulsar/common/options/IotPulsarMqttOptions.java
  iot-pulsar-handler/src/main/java/io/iot/pulsar/handler/PulsarProtocolHandler.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/MqttInboundHandler.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/auth/AuthData.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/MqttMessageTemplate.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/ConnectProcessor.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/env/IotPulsarBase.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/env/container/DockerPulsarStandalone.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/AuthTest.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqAuthTest.java
Labels: scope/mqtt, scope/agent

#8 Support token authentication
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqAuthTest.java
Labels: scope/test, scope/mqtt

#10 Fix checkstyle problem
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqAuthTest.java
Labels: scope/ci

#9 Support Qos1 publish
  .github/workflows/ci-check-iot-pulsar.yml
  iot-pulsar-agent/build.gradle
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarClientAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarDirectAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarProducerManager.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/pool/ThreadPools.java
  iot-pulsar-common/src/main/java/io/iot/pulsar/common/utils/CompletableFutures.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/Mqtt.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/MqttEndpointImpl.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/RejectOnlyMqttEndpoint.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/MqttTopic.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/code/MqttPubReturnCode.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/will/WillMessage.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/ConnectProcessor.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PublishProcessor.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/utils/EnhanceCompletableFutures.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/env/IotPulsarBase.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/FeatureTest.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/test, scope/mqtt

#11 Fix annotations
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarProducerManager.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/code/MqttPubReturnCode.java
Labels: scope/mqtt, scope/agent

#13 Support subscribe
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/MessageConsumer.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarClientAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarConsumerManager.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarDirectAgent.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarProducerManager.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/exceptions/IotAgentException.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/exceptions/IotAgentSubscriptionException.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/exceptions/package-info.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/options/SubscribeOptions.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/options/package-info.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/utils/TopicNameUtils.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/utils/package-info.java
  iot-pulsar-mqtt/build.gradle
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/Mqtt.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/MqttInboundHandler.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/MqttEndpoint.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/MqttEndpointImpl.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/endpoint/RejectOnlyMqttEndpoint.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/custom/RawPublishMessage.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/MqttProcessorController.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PingProcessor.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PublishAckProcessor.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PublishProcessorIn.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PublishProcessorOut.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/SubscribeProcessor.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/UnsubscribeProcessor.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/test, scope/mqtt, scope/agent

#14 Complete Qos1 test
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/test, scope/mqtt

#15 Support qos0 - publish
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/messages/code/MqttPubReturnCode.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PublishProcessorIn.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/FeatureTest.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/test, scope/mqtt

#16 Support qos0 - sub
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/PulsarConsumerManager.java
  iot-pulsar-agent/src/main/java/io/iot/pulsar/agent/options/SubscribeOptions.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/PublishProcessorOut.java
  iot-pulsar-mqtt/src/main/java/io/iot/pulsar/mqtt/processor/SubscribeProcessor.java
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/test, scope/mqtt, scope/agent

#17 Complete qos test
  iot-pulsar-test/src/test/java/io/iot/pulsar/test/mqtt/v3/hivemq/V3HivemqFeatureTest.java
Labels: scope/test, scope/mqtt
